@model LocaLINK.Booking

@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <!-- Site made with Mobirise Website Builder v5.9.17, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v5.9.17, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/photo-1551434678-e076c223a692.jpeg" type="image/x-icon">
    <meta name="description" content="Find the best plumbers, electricians, cleaners, and more for all your service needs. Book now!">


    <title>Service Booking Now</title>
    <link rel="stylesheet" href="/assets/booking/mobirise2.css">
    <link rel="stylesheet" href="/assets/booking/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/booking/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/assets/booking/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/assets/dbooking/style.css">
    <link rel="stylesheet" href="/assets/booking/styles.css">
    <link rel="stylesheet" href="/assets/booking/theme/style.css">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&display=swap&display=swap"></noscript>
    <link rel="preload" as="style" href="/assets/booking/mbr-additional.css?v=xE2cJQ">
    <link rel="stylesheet" href="/assets/booking/mbr-additional.css?v=xE2cJQ" type="text/css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />



</head>
<body>

    <section data-bs-version="5.1" class="header18 cid-uasfzUhJpe mbr-fullscreen" data-bg-video="https://www.youtube.com/watch?v=lu72YfaDU1o" id="hero-16-uasfzUhJpe">

        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="content-wrap col-12 col-md-12">
                    <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
                        <strong>LOCALink</strong>
                    </h1>

                    <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Say goodbye to household headaches! Book your expert service now and relax while we handle the rest.</p>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="article4 cid-uasfzUizNx" id="about-us-4-uasfzUizNx">



        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-lg-6 image-wrapper">
                    <img class="w-100" src="/assets/booking/photo-1605152276897-4f618f831968.jpeg" alt="Mobirise Website Builder">
                </div>
                <div class="col-12 col-md-12 col-lg">
                    <div class="text-wrapper align-left">
                        <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                            <strong>Who We Are</strong>
                        </h1>
                        <p class="mbr-text mbr-fonts-style mb-3 display-7">LOCALink is your go-to destination for hassle-free service bookings. We connect you with top-notch professionals to tackle all your home maintenance needs.</p>
                        <p class="mbr-text mbr-fonts-style mb-3 display-7">With a few clicks, you can have a skilled plumber, electrician, cleaner, etc. at your doorstep ready to work their magic.</p>
                        <p class="mbr-text mbr-fonts-style mb-3 display-7">Don't let household issues ruin your day. Let LOCALink take care of it all, so you can sit back and enjoy the peace of mind.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="form5 cid-uasfzUpiyP" id="contact-form-2-uasfzUpiyP">


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head mb-5">
                        <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Quick Booking Form</strong>
                        </h3>

                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="dragArea row">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.booking_id)

                            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />

                            <div class="col-md col-sm-12 form-group mb-3" data-for="booking_id" hidden>
                                <input type="number" name="booking_id" data-form-field="booking_id" class="form-control" value="">
                            </div>
                            <div class="col-md col-sm-12 form-group mb-3" data-for="customer_id" hidden>
                                <input type="hidden" name="customer_id" placeholder="Id" data-form-field="customer_id" class="form-control" value="@ViewBag.booking" readonly="readonly">
                            </div>
                            <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                                <input type="text" name="name" placeholder="Name" data-form-field="customer_id" class="form-control">
                            </div>
                            <div class="col-md col-sm-12 form-group mb-3" data-for="contactnumber">
                                <input type="number" name="contact" placeholder="Contact Number" data-form-field="email" class="form-control" value="" id="email-contact-form-2-uasfzUpiyP">
                            </div>
                            <div class="col-12 form-group mb-3" data-for="date">
                                <input type="date" name="booking_date" placeholder="Date" data-form-field="date" class="form-control" value="" id="email-contact-form-2-uasfzUpiyP">
                            </div>
                            <div class="col-12 form-group mb-3" data-for="service">
                                @Html.DropDownList("service", (IEnumerable<SelectListItem>)ViewBag.Service, "Select Sevices", new { @class = "form-control", @id = "service", @required = true })
                            </div>
                            <div class="col-md col-sm-12 form-group mb-3" data-for="location">
                                <input type="text" name="location" id="search-input" placeholder="Pin Location on Map" class="form-control" value="" readonly="readonly">
                            </div>
                            <div class="col-md col-sm-12 form-group mb-3" data-for="latitude"hidden >
                                <input type="text" name="latitude" id="latitude" value="">
                            </div>
                            <div class="col-md col-sm-12 form-group mb-3" data-for="longitude"hidden >
                                <input type="text" name="longitude" id="longitude" value="">
                            </div>
                            <div class="col-md col-sm-12 form-group mb-3" data-for="price">
                                <input type="text" name="total_price" placeholder="Price" data-form-field="price" class="form-control" value="" id="price" readonly ="readonly">
                            </div>
                            <div class="col-md col-sm-12 form-group mb-3" data-for="price" hidden>
                                <input type="text" name="status" placeholder="Status" data-form-field="status" class="form-control" value="" id="price" readonly="readonly">
                            </div>
                            <div id="map" style="height: 400px; border-radius:30px;"></div>
                            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                                <button type="submit" class="btn btn-primary display-7">Book Now</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="article13 cid-uasfzUk4w9" id="call-to-action-5-uasfzUk4w9">



        <div class="container">
            <div class="row justify-content-center">
                <div class="card col-md-12 col-lg-10">
                    <div class="card-wrapper">
                        <div class="card-box align-center">
                            <h4 class="card-title mbr-fonts-style display-2">
                                <strong>Ready to Get Fixing?</strong>
                            </h4>
                            <p class="mbr-text mbr-fonts-style mt-4 display-7">Choose your service and experience the convenience of LOCALink today!</p>
                            <div class="mbr-section-btn mt-4">
                                <a class="btn btn-primary display-4" href="#gallery-10-uasfzUnvC3">View Service</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="image3 cid-uasfzUkA0C" id="image-2-uasfzUkA0C">



        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9">
                    <h4 class="mbr-description mbr-fonts-style mb-3 align-center display-5">
                        <strong>Our Services</strong>
                    </h4>
                    <p class="mbr-description mbr-fonts-style mb-4 align-center display-7">Explore our range of expert services and book with ease</p>
                    <div class="image-wrapper">
                        <img class="w-100" src="/assets/booking/photo-1532102235608-dc8fc689c9ab.jpeg" alt="Mobirise Website Builder">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="features03 cid-uasfzUl7pP" id="events-1-uasfzUl7pP">


        <div class="container-fluid">
            <div class="row justify-content-center mb-5">
                <div class="col-12 content-head">
                    <div class="mbr-section-head">
                        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Service Booking</strong>
                        </h4>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="item features-image col-12 col-md-6 col-lg-3 active">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="/assets/booking/photo-1504805572947-34fad45aed93.jpeg" alt="Mobirise Website Builder" title="">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style mt-0 mb-2 display-5">
                                <strong>Plumbers On Demand</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">Today</p>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">Get your pipes fixed in a flash! Our expert plumbers are ready to tackle any leak or clog. Click to book now!</p>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="/assets/booking/photo-1472289065668-ce650ac443d2.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="1" data-bs-slide-to="1">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
                                <strong>Electricians at Your Service</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">Tomorrow</p>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">Lights out? No problem! Our skilled electricians will brighten up your day. Book your appointment with a click!</p>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="/assets/booking/photo-1629904853893-c2c8981a1dc5.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
                                <strong>Cleaning Wizards Ready</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">Next Week</p>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">Say goodbye to dust and dirt! Our cleaning pros will transform your space into a sparkling paradise. Book now!</p>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="/assets/booking/photo-1560264280-88b68371db39.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
                                <strong>Handyman Heroes Available</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">Next Weekend</p>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">From repairs to installations, our handyman squad is here to save the day. Book your superhero service today!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="features10 cid-uasfzUlZ3F" id="metrics-2-uasfzUlZ3F">



        <div class="container">

            <div class="row justify-content-center">
                <div class="item features-without-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="card-box align-left">

                            <p class="card-title mbr-fonts-style mb-3 display-1">
                                <strong>100%</strong>
                            </p>
                            <p class="card-text mbr-fonts-style mb-3 display-7">Satisfaction Guaranteed</p>

                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="card-box align-left">

                            <p class="card-title mbr-fonts-style mb-3 display-1">
                                <strong>24/7</strong>
                            </p>
                            <p class="card-text mbr-fonts-style mb-3 display-7">Service Availability</p>

                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="card-box align-left">

                            <p class="card-title mbr-fonts-style mb-3 display-1">
                                <strong>5,000+</strong>
                            </p>
                            <p class="card-text mbr-fonts-style mb-3 display-7">Happy Customers Served</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="article8 cid-uasfzUmdt3" id="generic-text-8-uasfzUmdt3">



        <div class="container">
            <div class="row justify-content-center">
                <div class="card col-md-12 col-lg-10">
                    <div class="card-wrapper">
                        <div class="image-wrapper d-flex justify-content-center mb-4">
                            <img src="/assets/booking/photo-1450101499163-c8848c66ca85.jpeg" alt="Mobirise Website Builder">
                        </div>
                        <div class="card-content-text">
                            <h3 class="card-title mbr-fonts-style mbr-white mt-3 mb-4 display-2">
                                <strong>Welcome to Service Haven</strong>
                            </h3>
                            <div class="row card-box align-left">
                                <div class="item features-without-image col-12">
                                    <div class="item-wrapper">

                                        <p class="mbr-text mbr-fonts-style display-7">Get ready to experience top-notch services at your fingertips! Service Haven is your one-stop destination for all your home maintenance needs.</p>
                                    </div>
                                </div>
                                <div class="item features-without-image col-12">
                                    <div class="item-wrapper">

                                        <p class="mbr-text mbr-fonts-style display-7">With a team of skilled professionals and a commitment to excellence, we guarantee a seamless and satisfying experience every time.</p>
                                    </div>
                                </div>
                                <div class="item features-without-image col-12">
                                    <div class="item-wrapper">

                                        <p class="mbr-text mbr-fonts-style display-7">Don't settle for mediocre service. Choose Service Haven for exceptional quality, reliability, and convenience. Your satisfaction is our priority!</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="list05 cid-uasfzUnewJ" id="faq-3-uasfzUnewJ">

        <div class="container">
            <div class="col-12 mb-5 content-head">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>FAQs</strong>
                </h3>

            </div>
            <div class="row justify-content-center ">
                <div class="col-12 col-lg-8">
                    <div class="item features-without-image col-12 active">
                        <div class="item-wrapper">
                            <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                                <strong>How do I book a service?</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Simply click on the 'Book' button next to the service you need, and follow the easy steps to schedule your appointment.</p>
                        </div>
                    </div>
                    <div class="item features-without-image col-12">
                        <div class="item-wrapper">
                            <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                                <strong>Are the prices fixed or hourly?</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Our pricing is transparent and fixed for each service package. No hidden costs or surprises!</p>
                        </div>
                    </div>
                    <div class="item features-without-image col-12">
                        <div class="item-wrapper">
                            <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                                <strong>Can I request a specific time slot?</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Yes, you can choose your preferred time when booking your service. We strive to accommodate your schedule.</p>
                        </div>
                    </div>
                    <div class="item features-without-image col-12">
                        <div class="item-wrapper">
                            <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                                <strong>What if I need to cancel?</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">We understand that plans can change. Contact us as soon as possible, and we'll assist you with rescheduling or cancellations.</p>
                        </div>
                    </div>
                    <div class="item features-without-image col-12">
                        <div class="item-wrapper">
                            <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                                <strong>Do you offer discounts for regular customers?</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Absolutely! We value loyalty. Talk to our team about our special offers for returning customers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="slider2 mbr-embla cid-uasfzUnMRe" id="testimonials-1-uasfzUnMRe">



        <div class="position-relative text-center">

            <div class="embla" data-skip-snaps="true" data-align="center" data-auto-play="true" data-auto-play-interval="5" data-draggable="true">
                <div class="embla__viewport container-fluid">
                    <div class="embla__container">
                        <div class="embla__slide slider-image item" style="margin-left: 10rem; margin-right: 10rem;">
                            <div class="user">
                                <div class="user_image">
                                    <div class="item-wrapper position-relative">
                                        <img src="/assets/booking/photo-1531561855568-3036cd4f03ba.jpeg" alt="Mobirise Website Builder">
                                    </div>
                                </div>
                                <div class="user_text mb-4">
                                    <p class="mbr-fonts-style display-5">
                                        <strong>Quick and efficient service! Fixed my plumbing issue in no time.</strong>
                                    </p>
                                </div>
                                <div class="user_name mbr-fonts-style mb-2 display-7">Jack Hammer</div>
                                <div class="user_desk mbr-fonts-style display-7">Plumber</div>
                            </div>
                        </div>
                        <div class="embla__slide slider-image item" style="margin-left: 10rem; margin-right: 10rem;">
                            <div class="user">
                                <div class="user_image">
                                    <div class="item-wrapper position-relative">
                                        <img src="/assets/booking/photo-1644945570917-1585f682efaa.jpeg" alt="Mobirise Website Builder">
                                    </div>
                                </div>
                                <div class="user_text mb-4">
                                    <p class="mbr-fonts-style display-5">
                                        <strong>Professional and friendly electrician. Highly recommend her services!</strong>
                                    </p>
                                </div>
                                <div class="user_name mbr-fonts-style mb-2 display-7">Samantha Sparks</div>
                                <div class="user_desk mbr-fonts-style display-7">Electrician</div>
                            </div>
                        </div>
                        <div class="embla__slide slider-image item" style="margin-left: 10rem; margin-right: 10rem;">
                            <div class="user">
                                <div class="user_image">
                                    <div class="item-wrapper position-relative">
                                        <img src="/assets/booking/photo-1492288991661-058aa541ff43.jpeg" alt="Mobirise Website Builder">
                                    </div>
                                </div>
                                <div class="user_text mb-4">
                                    <p class="mbr-fonts-style display-5">
                                        <strong>The cleaners did an amazing job, my house sparkles like never before!</strong>
                                    </p>
                                </div>
                                <div class="user_name mbr-fonts-style mb-2 display-7">Max Shine</div>
                                <div class="user_desk mbr-fonts-style display-7">Cleaner</div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="embla__button embla__button--prev">
                    <span class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont" aria-hidden="true"></span>
                    <span class="sr-only visually-hidden visually-hidden">Previous</span>
                </button>
                <button class="embla__button embla__button--next">
                    <span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont" aria-hidden="true"></span>
                    <span class="sr-only visually-hidden visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="gallery1 mbr-gallery cid-uasfzUnvC3" id="gallery-10-uasfzUnvC3">


        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mb-5">
                        <h3 class="mbr-section-title mbr-fonts-style align-center m-0 display-2">
                            <strong>Choose Your Service Now</strong>
                        </h3>

                    </div>
                </div>
            </div>

            <div class="row mbr-gallery">
                <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                    <div class="item-wrapper mb-3" data-bs-toggle="modal">
                        <img class="w-100" src="/assets/booking/mbr-838x559.jpg" alt="Mobirise Website Builder" data-slide-to="0" data-bs-slide-to="0">
                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                    <div class="item-wrapper mb-3" data-bs-toggle="modal">
                        <img class="w-100" src="/assets/booking/photo-1503551723145-6c040742065b-v2.jpeg" alt="Mobirise Website Builder" data-slide-to="1" data-bs-slide-to="1">
                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                    <div class="item-wrapper mb-3" data-bs-toggle="modal">
                        <img class="w-100" src="/assets/booking/photo-1569390412444-c80c024169f3.jpeg" alt="Mobirise Website Builder" data-slide-to="2" data-bs-slide-to="2">
                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                    <div class="item-wrapper mb-3" data-bs-toggle="modal">
                        <img class="w-100" src="/assets/booking/photo-1521791136064-7986c2920216.jpeg" alt="Mobirise Website Builder" data-slide-to="3" data-bs-slide-to="3">
                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                    <div class="item-wrapper mb-3" data-bs-toggle="modal">
                        <img class="w-100" src="/assets/booking/photo-1460925895917-afdab827c52f.jpeg" alt="Mobirise Website Builder" data-slide-to="4" data-bs-slide-to="4">
                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                    <div class="item-wrapper mb-3" data-bs-toggle="modal">
                        <img class="w-100" src="/assets/booking/photo-1517245386807-bb43f82c33c4.jpeg" alt="Mobirise Website Builder" data-slide-to="5" data-bs-slide-to="5">
                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                    <div class="item-wrapper mb-3" data-bs-toggle="modal">
                        <img class="w-100" src="/assets/booking/photo-1636363407089-16874826db3b.jpeg" alt="Mobirise Website Builder" data-slide-to="6" data-bs-slide-to="6">
                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                    <div class="item-wrapper mb-3" data-bs-toggle="modal">
                        <img class="w-100" src="/assets/booking/photo-1613963931023-5dc59437c8a6.jpeg" alt="Mobirise Website Builder" data-slide-to="7" data-bs-slide-to="7">
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="features15 cid-uasfzUob7I" id="features-30-uasfzUob7I">



        <div class="container">

            <div class="row">
                <div class="item features-without-image col-12 col-lg-4 active">
                    <div class="item-wrapper">
                        <div class="img-wrapper">
                            <img src="/assets/booking/photo-1518135714426-c18f5ffb6f4d.jpeg" alt="Mobirise Website Builder">
                        </div>
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mb-0 display-7">
                                <strong>Quick Book</strong>
                            </h4>
                            <h5 class="card-text mbr-fonts-style mt-3 display-7">Book your service with just one click!</h5>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-lg-4">
                    <div class="item-wrapper">
                        <div class="img-wrapper">
                            <img src="/assets/booking/photo-1455849318743-b2233052fcff.jpeg" alt="Mobirise Website Builder" data-slide-to="1" data-bs-slide-to="1">
                        </div>
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mb-0 display-7">
                                <strong>Professional Staff</strong>
                            </h4>
                            <h5 class="card-text mbr-fonts-style mt-3 display-7">Highly skilled and experienced professionals at your service.</h5>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-lg-4">
                    <div class="item-wrapper">
                        <div class="img-wrapper">
                            <img src="/assets/booking/photo-1517048676732-d65bc937f952.jpeg" alt="Mobirise Website Builder" data-bs-slide-to="2" data-slide-to="2">
                        </div>
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mb-0 display-7">
                                <strong>Instant Confirmation</strong>
                            </h4>
                            <h5 class="card-text mbr-fonts-style mt-3 display-7">Receive instant confirmation for your booked service.</h5>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-lg-4">
                    <div class="item-wrapper">
                        <div class="img-wrapper">
                            <img src="/assets/booking/photo-1556745753-b2904692b3cd.jpeg" alt="Mobirise Website Builder" data-slide-to="3" data-bs-slide-to="3">
                        </div>
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mb-0 display-7">
                                <strong>Easy Payment</strong>
                            </h4>
                            <h5 class="card-text mbr-fonts-style mt-3 display-7">Seamless and secure payment options for your convenience.</h5>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-lg-4">
                    <div class="item-wrapper">
                        <div class="img-wrapper">
                            <img src="/assets/booking/photo-1522071820081-009f0129c71c.jpeg" alt="Mobirise Website Builder" data-bs-slide-to="4" data-slide-to="4">
                        </div>
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mb-0 display-7">
                                <strong>Customer Reviews</strong>
                            </h4>
                            <h5 class="card-text mbr-fonts-style mt-3 display-7">Read what our satisfied customers have to say.</h5>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-lg-4">
                    <div class="item-wrapper">
                        <div class="img-wrapper">
                            <img src="/assets/booking/photo-1516321497487-e288fb19713f.jpeg" alt="Mobirise Website Builder" data-slide-to="5" data-bs-slide-to="5">
                        </div>
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mb-0 display-7">
                                <strong>24/7 Support</strong>
                            </h4>
                            <h5 class="card-text mbr-fonts-style mt-3 display-7">Round-the-clock support for all your queries and concerns.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   

    <script src="/assets/booking/bootstrap.bundle.min.js"></script>
    <script src="/assets/booking/smooth-scroll.js"></script>
    <script src="/assets/booking/index.js"></script>
    <script src="/assets/booking/navbar-dropdown.js"></script>
    <script src="/assets/booking/player.js"></script>
    <script src="/assets/booking/embla.min.js"></script>
    <script src="/assets/booking/script.js"></script>
    <script src="/assets/booking/theme/script.js"></script>
    <script src="/assets/booking/formoid.min.js"></script>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script>
    // Initialize the map
        var map = L.map('map').setView([12.8797, 121.7740], 6);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var searchControl = L.Control.geocoder({
            defaultMarkGeocode: false,
            autocomplete: true
        }).addTo(map);

        searchControl.on('markgeocode', function (e) {
            document.getElementById('search-input').value = e.geocode.name;
            map.setView(e.geocode.center, 13);
        });

        map.on('click', function (e) {
            var coordinates = e.latlng.lat.toFixed(6) + ', ' + e.latlng.lng.toFixed(6);
            document.getElementById('latitude').value = e.latlng.lat.toFixed(6);
            document.getElementById('longitude').value = e.latlng.lng.toFixed(6);
            reverseGeocode(coordinates);
        });
        function reverseGeocode(coordinates) {
            fetch('https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=' + coordinates.split(',')[0] + '&lon=' + coordinates.split(',')[1])
                .then(response => response.json())
                .then(data => {
                    document.getElementById('search-input').value = data.display_name;
                });
        }


        document.getElementById('search-input').addEventListener('focus', function () {
            document.getElementById('map').style.display = 'block';
            map.invalidateSize();
        });

    </script>

    <script>
        var serviceDropdown = document.getElementById("service");

        // Add event listener to listen for changes in the dropdown selection
        serviceDropdown.addEventListener("change", function () {
            // Get the selected option
            var selectedOption = serviceDropdown.options[serviceDropdown.selectedIndex];

            // Get the value and text of the selected option
            var selectedValue = selectedOption.value;
            var selectedText = selectedOption.text;

            // Define a mapping of service names to prices
            var priceMapping = {
                "Cleaning Service": "$1,500",
                "Plumbing": "$3,000",
                "Electricians": "$7,500",
                "Appliance Repair": "$2,500",
                "HVAC Technicians": "$3,500",
                "Computer Repair and IT Support": "$5,500",
                "Home Security Systems": "$10,500",
                "Handyman Services": "$7,500",
                "Tutoring": "$2,500",
                "Gardening": "$3,500",

                // Add more service names and prices as needed
            };

            // Set the price based on the selected service
            if (selectedText in priceMapping) {
                document.getElementById("price").value = priceMapping[selectedText];
            } else {
                // If the selected service doesn't have a predefined price, clear the price input
                document.getElementById("price").value = "";
            }
        });
    </script>

</body>
</html>