@model LocaLINK.User_Info

@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="login/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="assets/login/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/login/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/login/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/login/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/login/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/login/util.css">
    <link rel="stylesheet" type="text/css" href="/assets/login/main.css">
    <!--===============================================================================================-->
</head>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body>
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-pic js-tilt" data-tilt>
                        <img src="/assets/login/img-01.png" alt="IMG">
                    </div>
                    <div class="login100-form">
                        <form class="login100-form validate-form">
                            @if (!String.IsNullOrEmpty(TempData["Message"] as String))
                            {
                                <span class="alert alert-success">@TempData["Message"]</span>
                                <br /><br /><br />
                            }

                            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
                            <span class="login100-form-title">
                                My Profile Information
                            </span>

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.id)

                            <div class="form-group" hidden>
                                @Html.LabelFor(model => model.userId, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.userId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.userId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="wrap-input100 validate-input">
                                <input class="input100" type="text" name="lastname" placeholder="Last Name" required>
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-envelope-square" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="wrap-input100 validate-input">
                                <input class="input100" type="text" name="firstname" placeholder="First Name" required>
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-envelope-square" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="wrap-input100 validate-input">
                                <input class="input100" type="text" name="phone_number" placeholder="Phone Number" required>
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-envelope-square" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="wrap-input100 validate-input">
                                <input class="input100" type="text" name="email" readonly="readonly" value="@ViewBag.UserEmail"/>
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-envelope-square" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="wrap-input100 validate-input">
                                <input class="input100" type="text" name="street" placeholder="Street" required>
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-envelope-square" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="wrap-input100 validate-input">
                                <input class="input100" type="text" name="city" placeholder="City" required>
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-envelope-square" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="wrap-input100 validate-input">
                                <input class="input100" type="text" name="state" placeholder="State" required>
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-envelope-square" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="wrap-input100 validate-input">
                                <input class="input100" type="text" name="zip_code" placeholder="Zip Code" required>
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="wrap-input100 validate-input" hidden>
                                <input class="input100" type="text" name="active" placeholder="Status">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                            </div>
                            <br />
                            <div class="container-login100-form-btn">
                                <input type="submit" class="login100-form-btn" value="Save" />
                            </div>
                            <div class="text-center p-t-12">
                                <a class="txt2" href="/Home/Booking">
                                    Go Back
                                </a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>





        <!--===============================================================================================-->
        <script src="/assets/login/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="/assets/login/popper.js"></script>
        <script src="/assets/login/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="/assets/login/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="/assets/login/tilt.jquery.min.js"></script>
        <script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
        </script>

    </body>
}
</html>